body { /* Ustawienie koloru tła i usunięcie marginesów */
    background: url("../Main/background3.jpg") no-repeat; /* dodanie zdjęcia w tle */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

.naglowek, .menu_bar, footer { /* Ustawienia dla czerwonych pól*/
    background-color: rgb(174, 64, 68);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(0, 0, 0);
}

.naglowek { /* Ustawienia nagłówka */
    height: 100px;
    display: flex; 
    align-items: center;
}

.naglowek img { /* Ustawienia herbu w nagłówku */
    margin: 20px;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.naglowek p { /* Ustawienia tekstu w nagłówku */
    flex: 4.5;
    display: flex;
    margin: auto;
    font-size: 30px;
    margin-top: 35px;
    color: rgb(219, 189, 40);
    text-shadow: 5px 5px 5px black;
    justify-content: center;
}

.menu_bar { /* Ustawienia paska MENU */
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Wypośrdowkowanie elementów w poziomie */
}

.menu_bar a { /* Ustawienia każdego elementu w MENU */
    line-height: 50px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 140px;
    justify-content: center;
}
 i {
    font-size: 30px; /* Rozmiar ikony */
    transform: translateY(5px);
 }

.menu_bar a:hover { /* Ustawienia elementów MENU po najechaniu kursorem */
    background-color: rgb(117, 26, 29);
    border-radius: 10px;   
    color: rgb(219, 189, 40);
    font-size: 80%;
}


section{
    display: flex;
}
section article {
    background-color: rgb(174, 64, 68);
    margin-top: 30px;
   
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(0, 0, 0);
}
section article:nth-child(1) {
    flex: 7;
    margin-left: 10%;
    margin-right: 10px;
}
section article:nth-child(2) {
    flex: 3;
    margin-right: 10%;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kontener2 {
    text-align: center;
    justify-content: center;
}

#tabelatytul {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    border: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
}
table { 
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
th {
    box-shadow: 1px 1px 2px black;
}
th, td {
    text-align: center;
    color: white;
}

#fcb {
    background-color: rgb(32, 137, 32);
    font-weight: bold;
}
#lm {
    background-color: rgb(85, 188, 85);
}
#spadek {
    background-color: red;
}
#le {
    background-color: rgb(197, 197, 76);
}
thead tr {
    color: white;
background-color: black;
}


#p1 {
    color: rgb(219, 189, 40);
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
#p2 {
    color: white;
    text-align: justify;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px solid  rgb(219, 189, 40);;
    padding-top: 10px;
}


#kontener3 {
    display: flex;
    justify-content: space-between;
}

#tytulmecz {
    flex: 1;
    color:  rgb(219, 189, 40);
    text-shadow: 1px 1px 1px black;
    font-size: 25px;   
    text-align: center;
}

#kontener4 {
    display: flex;
    justify-content: space-between;
}
#ostatni, #przyszly {
    text-align: center;
    flex: 1;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
#ostatni img, #przyszly img {
    width: 100px;
    height: 100px;
}

p {
    flex: 1;
    color: white;
    font-size: 20px;
}